.container{
    margin : 20px 0;
    justify-self: center;
    

}
.card{
    margin: 0 2% !important;
    width: 100%;
    
    

}

.infected{
    border-bottom: 10px solid rgba(0,0,255,0.5);
    background-image: url(infected.jpg);
    
}

.recovered{
    border-bottom: 10px solid rgba(0,255,0,0.5);
    background-image: url(recovered.jpg);
}
.deaths{
    border-bottom: 10px solid rgba(255,0,0,0.5);
    background-image: url(deaths.jpg);
}