body{
   
background-image: url(./Images/background.jpg);


}
@media (prefers-reduced-motion: no-preference) {
    .image {
      animation: App-logo-spin infinite 50s linear;
      animation-fill-mode: forwards;
    }
  }
  

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.container1{
    display:flex;
    align-items:left;
    justify-content: left;
    flex-direction: row-reverse;

    
}
.image{
    width: 200px;
    margin-top: 10px;
    
    


}

@media(max-width : 770px){
    .container{
        margin:0 10%;
    }
    .image{
        width:100%;
    }
}